.card{
  cursor: pointer;
  width: 16rem;
  border-style: solid;
  border-width: 1px;
  padding: 1px 1px;
  box-sizing: border-box;
}

.card-text{
  text-align: end;
}

.sucessMsg, .failMsg{
  position: fixed;
  left:50%;
  top:10%;
  transform: translate(-50%, 0%);
  /* min-width: min-content; */
  z-index: 2;
}

.failMsg div,.sucessMsg div{
  width: max-content;
}

.card:hover{
  border-width: 2px;
  padding: 0;
}
