<h2>Your current order</h2>
<p>Total amount: {{this.getTotalValue()}}</p>
<div class="items">
  <app-compra *ngFor="let compra of this.getCompras()" [(data)]=compra></app-compra>
</div>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Proceed to checkout
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Checkout</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="item" *ngFor="let compra of this.getCompras()">
          <p>{{compra.title}} x{{compra.amount}}</p>
          <p>{{compra.getValue()}} U$</p>
        </div>
        <p style="text-align:end">Total: {{this.getTotalValue()}} U$</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)=this.confirmPurchase() >Confirm</button>
      </div>
    </div>
  </div>
</div>
