.modal.show{
  display:block;
}

.item{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

#cartTitle{
  text-align: center;
  margin:20px;
}

#checkoutButton{
  align-self: flex-end;
}

.checkout{
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  box-sizing: border-box;
}
