.modal.show{
  display:block;
}

.item{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

#cartTitle{
  text-align: center;
  margin:20px;
}

#checkoutButton{
  align-self: flex-end;
}
