@media screen and (max-device-width: 991px){
  .control{
    height: 110px;
  }
}
#output{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.buttons{
  display:flex;
  flex-direction: row;
  overflow: scroll;
  -ms-overflow-style: none;
  height: min-content;
}


.buttons, .textInput{
  margin:auto 0px;
}

.textInput{
  display:flex;
  flex-direction: row;
  max-width: 28rem;
}

.textInput button, .textInput input{
  height: 40px;
}

.control{
  margin: 10px 0;
  padding: 10px;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#submit{
  border-color: white;
  border-width: 1px;
  margin-left: 2px;
}


.buttons::-webkit-scrollbar {
  display: none;
}

button{
  width: min-content;
}

